<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean class="in.sp.beans.Address" id="addrId1">
	    <property name="houseno" value="111" />
	    <property name="city" value="Greater Noida" />
	    <property name="pincode" value="201310" />
    </bean>

	<bean class="in.sp.beans.Student" id="stdId">
		<property name="name" value="Radhe" />
	    <property name="rollno" value="25" />
	    <property name="address" ref="addrId1" />
	</bean>
	
</beans>
